Kora/App/Secrets.swift

# Xcode
build/
DerivedData/
*.hmap
*.ipa
*.dSYM
*.dSYM.zip
*.xcuserstate
xcuserdata/
*.moved-aside
*.xccheckout
*.xcscmblueprint

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store
